<div id="search-modal" class="modal search-modal">
  <div class="modal-content search-modal-content">
    <div class="search-modal__header">
      <h2 class="visually-hidden">Search</h2>
      <button type="button" class="close-modal-btn" onclick="closeSearchModal()" aria-label="Close search">
        {% render 'icon-fragrance', icon: 'close' %}
      </button>
    </div>
    
    <div class="search-modal__form-wrapper">
      <predictive-search search-open data-loading-text="{{ 'accessibility.loading' | t }}">
        <form action="{{ routes.search_url }}" method="get" role="search" class="predictive-search-form">
          <div class="predictive-search__field">
            <span class="predictive-search__icon">
              {% render 'icon-fragrance', icon: 'search' %}
            </span>
            <input
              class="search__input field__input"
              id="Search-In-Modal"
              type="search"
              name="q"
              value="{{ search.terms | escape }}"
              placeholder="Search for products..."
              role="combobox"
              aria-expanded="false"
              aria-owns="predictive-search-results"
              aria-controls="predictive-search-results"
              aria-haspopup="listbox"
              aria-autocomplete="list"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
              spellcheck="false"
            >
            <button type="reset" class="predictive-search__reset-button hidden" aria-label="Clear search">
              {% render 'icon-fragrance', icon: 'close' %}
            </button>
            <input name="options[prefix]" type="hidden" value="last">
          </div>
          
          <div class="predictive-search-results-wrapper" tabindex="-1" data-predictive-search>
            <div class="predictive-search__loading-state">
              {% render 'loading-spinner', class: 'predictive-search__loading-state' %}
            </div>
          </div>
          <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
        </form>
      </predictive-search>
    </div>
  </div>
</div>
