<div id="search-modal" class="modal">
  <div class="modal-content search-modal-content">
    <span class="close-modal" onclick="closeSearchModal()">&times;</span>
    <div class="container">
      <h2 class="h2 section-title text-center">Search</h2>
      <predictive-search search-open data-loading-text="{{ 'accessibility.loading' | t }}">
        <form action="{{ routes.search_url }}" method="get" role="search" class="search">
          <div class="field">
            <input
              class="search__input field__input"
              id="Search-In-Modal"
              type="search"
              name="q"
              value="{{ search.terms | escape }}"
              placeholder="Search for products..."
              role="combobox"
              aria-expanded="false"
              aria-owns="predictive-search-results"
              aria-controls="predictive-search-results"
              aria-haspopup="listbox"
              aria-autocomplete="list"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
              spellcheck="false"
            >
            <input name="options[prefix]" type="hidden" value="last">
            <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
              {% render 'icon-fragrance', icon: 'search' %}
            </button>
          </div>
          <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
            <div class="predictive-search__loading-state">
              {% render 'loading-spinner', class: 'predictive-search__loading-state' %}
            </div>
          </div>
          <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
        </form>
      </predictive-search>
    </div>
  </div>
</div>
