<p class="alert-text" {{ block.shopify_attributes }}>
  {%- if block.settings.link != blank -%}
    <a href="{{ block.settings.link }}" class="announcement-link">
  {%- endif -%}
  {{ block.settings.text }}
  {%- if block.settings.link != blank -%}
    </a>
  {%- endif -%}
</p>

{% schema %}
{
  "name": "Announcement",
  "tag": null,
  "settings": [
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "Text",
      "default": "Announce something here"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    }
  ],
  "presets": [
    {
      "name": "Announcement"
    }
  ]
}
{% endschema %}
