<!--BACK TO TOP-->
<a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
  {% render 'icon-velour', icon: 'arrow-up' %}
</a>

<style>
  .back-top-btn{
  z-index:1000;
  }
</style>
{% schema %}
{
  "name": "Back to top",
  "settings":[],
  "blocks": [],
  "presets": [
    {
      "name": "Back to top"
    }
  ]
}
{% endschema %} 