<!--BACK TO TOP-->
<a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
  <ion-icon name="arrow-up" aria-hidden="true"></ion-icon>
</a>

<style>
  .back-top-btn{
  z-index:1000;
  }
</style>
{% schema %}
{
  "name": "backToTop",
  "settings":[],
  "blocks": [],
  "presets": [
    {
      "name": "backToTop"
    }
  ]
}
{% endschema %} 