<div class="back-to-top" data-section-id="{{ section.id }}">
  <a href="#top" 
     class="back-top-btn color-scheme-{{ section.settings.color_scheme.id | default: section.settings.color_scheme }}" 
     style="{% render 'color-scheme-styles', scheme: section.settings.color_scheme %}"
     aria-label="back to top" 
     data-back-top-btn>
    {% render 'icon-velour', icon: 'arrow-up' %}
  </a>
</div>

{% schema %}
{
  "name": "Back to top",
  "settings":[
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Back to top",
      "category": "Utilities"
    }
  ]
}
{% endschema %} 




