 <main role='main'>
  <article>
     {{ page.content }}
  </article>
</main>  
{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": []
}
{% endschema %} 
